.bra {
	border-radius: 5px;
}

.brt {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.brb {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.brr {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.brl {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.brtl {
	border-top-left-radius: 5px;
}

.brtr {
	border-top-right-radius: 5px;
}

.brbr {
	border-bottom-right-radius: 5px;
}

.brbl {
	border-bottom-left-radius: 5px;
}

.bra0 {
	border-radius: 0px;
}