@import '~imports';

.landing-wrapper {
	background-image: url('/static/images/abigail-horse.jp2');
	background-size: cover;
	background-position: center;
}

@include tabletLarge {
	.landing-wrapper {
		background-image: url('/static/images/abigail.jp2');
		background-position: right;
	}
}

@include screenLarge {
	.landing-wrapper {
		background-position: center;
	}
}