@import '~imports';

.landing-wrapper {
	background-image: url('https://s3.eu-west-2.amazonaws.com/sianoneill/abigail-horse.png');
	background-size: cover;
	background-position: center;
}

@include tabletLarge {
	.landing-wrapper {
		background-image: url('https://s3.eu-west-2.amazonaws.com/sianoneill/abigail.png');
		background-position: right;
	}
}

@include screenLarge {
	.landing-wrapper {
		background-position: center;
	}
}