.sans-serif {
	font-family: 'Assistant', 'Lucida Grande', sans-serif;
}

.serif {
	font-family: georgia, times, serif;
}

.lucida-grande {
	font-family: 'Lucida Grande';
}

.wilderness {
	font-family: 'Wilderness';
}

.bellefair {
	font-family: 'Bellefair';
}

.lora {
	font-family: 'Lora';
}

.josefin-slab {
	font-family: 'Josefin Slab';
}

.open-sans-condensed {
	font-family: 'Open Sans Condensed';
}

.open-sans {
	font-family: 'Open Sans';
}