@import '../imports';

.headline {
	font-size: 4rem;
}

.subheadline {
	font-size: 3.5rem;
}

.fs1 {
	font-size: $f1;
}

.fs2 {
	font-size: $f2;
}

.fs3 {
	font-size: $f3;
}

.fs4 {
	font-size: $f4;
}

.fs5 {
	font-size: $f5;
}

.fs6 {
	font-size: $f6;
}

.fs7 {
	font-size: $f7;
}