$mobile-small: 16rem;
$mobile-medium: 20rem;
$mobile-large: 24rem;
$tablet-small: 30rem;
$tablet-medium: 38rem;
$tablet-large: 46rem;
$screen-small: 64rem;
$screen-medium: 74rem;
$screen-large: 88rem;
$screen-xlarge: 106rem;