$colors: (
	white: white,
	baby-blue-white: #fcfcfc,
	spaceship-white: #fefefe,

	black: black,

	midnight-grey: #333,
	slate-grey: #5B6271,
	dark-grey: #535166,
	grey: #96a3b6,
	light-grey: #ccc,
	lighter-grey: #e6e6e6,

	error-red: #be1c1f,
	pink: #f7cac9,

	transparent: transparent
);