$base-font-size: 1em;
$minute: .5rem;
$tiny: .6rem;
$smaller: .7rem;
$small: .8rem;
$medium: .9rem;
$normal: .95rem; /* for all user defined text. post descriptions, comments, etc. */
$big: 1.2rem;
$bigger: 1.5rem;
$huge: 2rem;
$biggest: 3rem;